body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: auto;
  background-image: url('https://f.vividscreen.info/soft/594c7826320426cad765d72022091d15/Fairy-Tail-Country-1920x1200.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container{
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  right: 100px;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  background: transparent;
  outline: none;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  background: transparent;
  outline: none;
  padding: 20px 30px 20px 20px;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.macaco .form-floating{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.imagen{
  font-size: 1.125rem;
  position: absolute;
  top: 80px;
  right: 80px;
}

.imagens{
  font-size: 1.125rem;
  position: absolute;
  left: 80px;
  top: 80px;
}

.Titulo{
  color:#5a23c8;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 100px;
  right: 550px;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.texto1{
  background: transparent;
  backdrop-filter: blur(2px);
  font-weight: bold;
  font-size: 29px;
  position: absolute;
  top: 240px;
  right: 450px;
}

.DescripcionTitulo{
  background: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 5);
  color:#5a23c8;
  backdrop-filter: blur(2px);
  font-weight: bold;
  position: absolute;
  top: 320px;
  right: 510px; 
}

.Descripción{
  background: transparent;
  font-size: 10px;
  color: rgba(0, 0, 0, 3);
  backdrop-filter: blur(3px);
  font-weight: bold;
  position: absolute;
  top: 400px;
  right: 220px;
  left: 170px;
}

.DescripcionTitulo2{
  background: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 5);
  color:#5a23c8;
  backdrop-filter: blur(2px);
  font-weight: bold;
  position: absolute;
  top: 1500px;
  right: 625px;
}

.Descripción2{
  background: transparent;
  font-size: 10px;
  color: rgba(0, 0, 0, 3);
  backdrop-filter: blur(3px);
  font-weight: bold;
  position: absolute;
  top: 1580px;
  right: 220px;
  left: 170px;
}

.ContactoSop{
  background: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 5);
  color:#5a23c8;
  backdrop-filter: blur(2px);
  font-weight: bold;
  position: absolute;
  top: 2000px;
  right: 540px;
}

.Soporte{
  background: transparent;
  font-size: 10px;
  color: rgba(0, 0, 0, 3);
  backdrop-filter: blur(3px);
  font-weight: bold;
  position: absolute;
  top: 2100px;
  right: 220px;
  left: 170px;
}

.Datos{
  background: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 5);
  color:#5a23c8;
  backdrop-filter: blur(2px);
  font-weight: bold;
  position: absolute;
  top: 2350px;
  right: 500px;
}

.DatosDescripción{
  background: transparent;
  font-size: 10px;
  color: rgba(0, 0, 0, 3);
  backdrop-filter: blur(3px);
  font-weight: bold;
  position: absolute;
  top: 2450px;
  right: 220px;
  left: 170px;
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}


.App{
  display: flex;
}

.content{
  flex: 1;
  padding: 20px;
}

.navbar {
  position: absolute;
  top: 25px;
  left: 80px;
  width: 700px;
  height: 30px;
  z-index: 1000;
}

.UsocialTitulo{
  background: transparent;
  box-shadow: 0 0 rgba(0, 0, 0, 2);
  color:#5a23c8;
  position: absolute;
  top: 50px;
  left: 60px;
}
